*{
  box-sizing: border-box;
}

body {
background-image: url("images/bc.jpg");
}

.header{
  margin-top: 10px;
  margin-left: 10px;
  width: 98%;
  height: 70px;
  padding: 10px;
  text-align: center;
  box-shadow: inset 0px 0px 6px 6px;
  font-weight: bolder;
  font-size: 28px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}


.column {
  margin-top: 100px;
  margin-left:20px;
  height: auto;
  width: 250px;
  padding: 25px;
  box-shadow: inset 0px 0px 4px 4px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 900;

}

.column-1 {
  margin-top: 100px;
  margin-left:20px;
  height: auto;
  width: auto;
  padding: 0px 0px 0px 15px;
  box-shadow: inset 0px 0px 4px 4px;
  margin-bottom: 10px;
}

.column-new {
  width: 150px;
  height: 15px;
  text-align: center;
  margin-top: 80px;
  font-weight: bolder;
  font-size: 24px;
}
.column-a  {
  margin-bottom: 5px;
  width: 650px;
  height: 180px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 900;
  line-height: 7.0mm;
}
.column-b{
  width: 150px;
  height: 15px;
  margin-top: 60px;
  font-weight: bolder;
  font-size: 24px;
}

.crystals{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.crystal{
  border: 1px solid black;
  height: 200px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 1s, transform 2s;
}

.crystal:hover {
  box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.5);
  transform: translate(5px, 80px);
  cursor: pointer;
  transition: box-shadow 1s, transform 2s;
}

img {
  width: 50px;
}